@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1>Form parameters parsing demo</h1>
    <ul>
        <li><a href="/Home/SingleAction">Manual parsing in single action</a></li>
        <li><a href="/Home/SeparateAction">Manual parsing in separate actions</a></li>
        <li><a href="/Home/BindingParametrs">Model binding (parametrs)</a></li>
        <li><a href="/Home/BindingSeparate">Model binding (separate model)</a></li>
    </ul>
</div>
